.homepage{
    .drawer{
        display: flex;
        flex-direction: row;
        .left-drawer {
            width: 340px;
            z-index: 200;
            transition: all 0.2s ease-in-out; //for animation
            #sidebar{
                height: 100vh;
                width: 100%;
                padding: 48px;
                background: #0C365A;
                transition: all .3s;
                .cover-logo{
                    margin-bottom: 80px;
                    .des{
                        margin-bottom: 0;
                        margin-top: 20px;
                        font-size: 15px;
                        color:#FFFFFF ;
                        opacity: 0.3;
                        width: 250px;
                        font-weight: 500;
                    }
                }
                ul{
                    &.components{
                        padding: 0;
                    }
                    li{
                        font-size: 16px;
                        margin-top: 60px;
                        &:first-child{
                            margin-top: 0;
                        }
                        a{
                            display: block;
                            color: #FFFFFF;
                            text-decoration: none;
                            transition: .3s all ease;
                            &[data-toggle=collapse]{
                                position: relative;
                            }
                            &.dropdown-toggle{
                                white-space: nowrap;
                                &:after{
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    right: 0;
                                    -webkit-transform: translateY(-50%);
                                    -ms-transform: translateY(-50%);
                                    transform: translateY(-50%);
                                    display: inline-block;
                                    margin-left: .255em;
                                    content: "";
                                    vertical-align: .255em;
                                    border-top: .3em solid;
                                    border-right: .3em solid transparent;
                                    border-bottom: 0;
                                    border-left: .3em solid transparent;
                                }
                            }
                            &:hover{
                                color: $primary;
                            }
                        }
                        &.active{
                            a{
                                color: $primary !important;
                            }
                        }
                        ul{
                            margin-left: 10px;
                            &.collapse{
                                &:not(.show){
                                    display: none;
                                }
                            }
                            &.list-unstyled{
                                padding-left: 0;
                                list-style: none;
                            }
                            li{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .right-drawer {
            height: 100vh;
            padding-left: 60px; /* initially */
            padding-top: 60px;
            padding-right: 60px;
            width: 100%;
        }
    }
    .bottom-drawer{
        display: none;
        #sidebar-mobile{
            background-color: #0C365A;
            padding: 10px 30px;
            height: 56px;
            ul{
                display: flex;
                justify-content: space-between;
                li{
                    width: max-content;
                    display: flex;
                    flex-direction: column;
                    img{
                        align-self: center;
                    }
                    p{
                        font-size: 9px;
                        color: #DDDDDD;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .left-drawer{
        width: 200px;
        #sidebar{
            padding: 10px !important;
        }

    }
}
@media screen and (max-width: 500px) {
    .homepage{
        background-color: #0C365A;
        .left-drawer{
            display: none;
        }
        .right-drawer{
            padding-left: 24px !important;
            padding-right: 24px !important;
        }
        .bottom-drawer{
            display: block !important;
        }
    }

}
