#Home{
  .group-header{
    .title{
      color: #222222;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .cover{
      display: flex;
      justify-content: space-between;
      .left{
        .money-container{
          display: flex;
          .money-icon{
            width: 40px;
            height: 24px;
            border-radius: 4px;
            color: #FFFFFF;
            font-size: 13px;
            background-color: #01D167;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .price{
            font-size: 17px;
            color: #222222;
            font-weight: bold;
            margin-left: 12px;
          }
        }
      }
      .right{
        .btn-new-card{
          width: 109px;
          height: 35px;
          background-color: #325BAF;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 13px;
          font-weight: 500;
          color: white;
          cursor: pointer;
          img{
            margin-right: 8px;
            margin-bottom: 3px;
          }
        }
      }
    }
  }

  .group-menu{
    ul{
      list-style-type: none;
      display: flex;
      padding-left: 0;
      li{
        color: #222222;
        font-size: 14px;
        opacity: 0.3;
        margin-right: 30px;
        width: max-content;
        &.active{
          opacity: 1;
          font-weight: bold;
          position: relative;
          &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: #23CEFD;
          }
        }
      }
    }
  }

  .group-content{
    box-shadow: 3px 3px 16px #00000014;
    border: rgba(252, 252, 252, 1);
    border-radius: 8px;
    width: 100%;
    min-height: 500px;
    background-color: white;
    padding: 60px 40px 40px 40px;
    .action{
      margin-top: 60px;
      height: 116px;
      background-color: #EDF3FF;
      padding: 20px 30px;
      border-radius: 10px;
      .cover-action{
        ul{
          padding-left: 0;
          display: flex;
          justify-content: space-around;
          li{
            list-style: none;
            width: max-content;
            display: flex;
            flex-direction: column;
            img{
              width: 32px;
              height: 32px;
              align-self: center;
              margin-bottom: 7px;
            }
            p{
              color: #0C365A;
              font-size: 13px;
              margin-bottom: 0;
              text-align: center;
            }
          }
        }
      }
    }
    .ct-left{
      .debit-card-cover{
        .eye-show{
          position: absolute;
          right: 10px;
          top:-25px;
          span{
            font-size: 12px;
            margin-left: 6px;
            color: $primary;
          }
        }
        .debit-card{
          background-color:$primary;
          padding: 27px;
          border-radius: 8px;
          height: 250px;
          position: relative;

          .logo{
            justify-content: flex-end;
          }
          h4{
            font-size: 24px;
            letter-spacing: 1px;
            margin-top: 27px;
            margin-bottom: 30px;
            color: white;
          }
          .number-container{
            display: flex;
            align-items: center;
            .item{
              margin-right: 27px;
              span{
                font-size: 40px;
                line-height: 0;
                color: white;
              }
            }
            .year{
              color: white;
              letter-spacing: 2px;
              margin-top: -15px;
            }
          }
          .date-container{
            margin-top: 20px;
            color: white;
            letter-spacing: 2px;
            .date{
              margin-right: 35px;
            }
          }
          .ft-card{
            display: flex;
            justify-content: flex-end;
          }
        }
      }

    }
    .ct-right{
      .d-block-sm{
        display: none;
      }
      .group-child-item{
        border: 1px solid #F0F0F0;
        border-radius: 4px;
      }
      .item-action{
        width: 100%;
        height: 72px;
        padding: 24px;
        background-color: #FAFCFF;
        box-shadow: 3px 3px 16px #00000014;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        .title{
          color: #0C365A;
          font-size: 14px;
          margin-left: 12px;
        }
      }
      .item-child-action{
        padding: 16px 24px;
        padding-bottom: 0;
        .cover-child{
          border-bottom: 1px solid #F5F5F5;
          padding-bottom: 24px;
          .logo-child{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #009DFF1A;
            display: flex;
            justify-content: center;
            align-items: center;
            &.green{
              background-color: #00D6B51A;
            }
            &.pink{
              background-color: #F251951A;
            }
          }
          .cover-item-right{
            width: 100%;
            padding-left: 12px;
            .name-child{
              display: flex;
              justify-content: space-between;
              width: 100%;
              margin-bottom: 4px;
              p{
                margin-bottom: 0;
              }
              .name{
                font-size: 14px;
                color: #222222;
              }
              .price{
                color: $primary;
                font-size: 14px;
                font-weight: bold;
              }
            }
            .date{
              margin-bottom: 12px;
              color: #AAAAAA;
              font-size: 13px;
            }
            .icon-card{
              width: 24px;
              height: 20px;
              background-color: #325BAF;
              border-radius: 40%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .text-card{
              margin-bottom: 0;
              color: #325BAF;
              font-size: 12px;
              margin-left: 8px;
            }
          }

        }
      }
      .footer-item-action{
        p{
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #Home{
    .group-header{
      padding: 0 24px;
      .title{
        color:white;
      }
      .left{
        .price{
          color: white !important;
        }
      }
      .right{
        .btn-new-card{
          background-color: transparent !important;
        }
      }
    }
    .group-menu{
      padding: 0 24px;
      ul{
        li{
          color: white;
        }
      }
    }
    .group-content{
      padding: 0;
      background-color: transparent;
      .action{
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
      }
      .ct-left{
        padding: 0 40px;
        .debit-card-cover{
          margin-top: 25px;
          .eye-show{
            background-color: white;
            height: 40px;
            width: 150px;
            text-align: center;
            border-radius: 8px;
            z-index: 1;
            right: 0;
          }
          .debit-card{
            padding: 24px !important;
            z-index: 2;
            .number-container{
              .item{
                span{
                  font-size: 27px;
                  font-weight: bold;
                }
              }
              .year{
                margin-top: -6px;
              }
            }
            .ft-card{
              margin-top: 5px;
            }
          }
        }
        .d-none-sm{
          display: none;
        }

      }
      .ct-right{
        padding: 0 !important;
        .d-block-sm{
          display: block !important;
        }
        .cover-item-mobile{
          background-color: white;
          padding:24px;
        }
      }
    }
  }

}